/* CSS styles for Movie Recommender */
body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpeg");
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #CD5C5C;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h4 {
    margin: 8px;
}

ul {
    margin: 0;
}

li {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

h5 {
    margin: 0;
}

hr {
    color: #DF766A;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.message-box {
    color: #DF766A;
}

input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 2px solid #DF766A;
    border-radius: 3px;
    color: #DF766A;
}

input[type="text"]:focus {
    outline: 0.01px solid #DF766A;
}

button {
    padding: 0.5rem 1rem;
    background-color: #FA8072;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.recommendations {
    padding-top: 1rem;
}
