/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpeg");
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #CD5C5C;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #FA8072;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.recommendations {
    padding-top: 1rem;
}
