<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<script src="../static/script.js"></script>
<header>
    <h1>Movie Recommender</h1>
</header>
<main>
    <div class="search-box">
        <input type="text" id="movieInput" placeholder="Enter a movie title">
        <button onclick="getRecommendations()">Get Recommendations</button>
    </div>
    <div class="message-box">
        <hr/>
        <h4>Movie Title Format: Movie Name (Year_Of_Release)</h4>
        <hr/>
        <h4>How to enter movie titles in correct format:</h4>
        <ul>
            <li>Copy paste movie titles received from server</li>
            <li>Alternatively, look into movies.csv inside data folder in Github repo</li>
        </ul>
        <hr/>
        <h5 class="message"></h5>
    </div>
    <div class="recommendations" id="recommendations">
        <!-- Recommendations will be displayed here -->
    </div>
</main>
</body>
</html>
